html {
  scroll-behavior: smooth;
    scrollbar-width:normal;
    scrollbar-color:#db1d5c #dddddd;
}
.header1{
    background-color: darkslategrey;
    padding: 0px;
    border-bottom-style:groove;
    border-bottom-color: chocolate;
    background-size: contain;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    position: fixed;
    z-index: 10;
    top:0rem;
    left:0rem;
}

.backtotop{
    height: 50px;
    width: 50px;
    position: fixed;
    border-radius: 50%;
    bottom:2rem;
    right:2rem;
    cursor:pointer;
    z-index: 10;
    background-color:crimson;
    opacity: 0.2;
}

.backtotop:hover{
    background-color: firebrick;
    opacity: inherit;
}

body{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.InvisibleLink{
    text-decoration-line: none;
    color: black;
    cursor: pointer;
}



h5{
    margin-top: 0px;
    margin-bottom: 0px;
    
}

h1,h2{
    text-align: center;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

p{
    text-align: center;
}

.gaadilelogo{
    position:relative;
    text-rendering: auto;
    background-color: burlywood;
    text-align:center;
    height:47px;
    width:165px;
    border-bottom-left-radius:40%;
    border-top-left-radius:60%;
    border-bottom-right-radius:50%;
    margin-right:0px;
    transform: translate(0,-100px);
}

.wheel1{
    filter:blur(0.5px);
    -webkit-filter:blur(0.5px);
    background-color:black;
    height:20px;
    width:20px;
    border-radius:50%;
    margin-left:30px;
    transform:translate(0,4px);
}


.wheel2{
    background-color:black;
    height: 20px;
    width:20px;
    border-radius:50%;
    margin-left:90px;
    transform:translate(-4px,-0.8px);
}

.backimg{
    margin-top: 86px;
    padding: 0px;
    background-image: url("images/pexels-hyundai-motor-group-11194510.jpg");
    background-size:contain;
    height: 800px;
    width: 100%;
}

.horiopt{
    justify-content:center;
}

.optionstabs{
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: auto;
    margin-top: 25px;
    justify-content:space-around;
}

.tab{
    padding: 6px;
    width: 350px;
    height: 375px;
    border-radius: 10%;
    backdrop-filter: blur(15px);
}


.car{
    padding: 6px;
    width: 375px;
    height: 375px;
    background-color: black; 
    border-radius: 10%;
}
.tabimg{
    height: 79%;
    width: 100%;
    margin-top: -4px;
    border-radius: 6%;
    position: relative;
    background-size: cover;
}

.reservations{
    position: relative;
    height:auto;
    width: 165px;
    margin-left: 200px;
    text-align:left;
    transform:translate(0px,60px);
}

.headerscontents{
    padding: 0px;
    display:flex;
    width: 100%;
    margin: auto;
    justify-content:space-around;
    text-align: center;
    list-style: none;
}

.headerscontents li{
     width: 120px;
    margin: 15px;
    padding: 15px;
}

.menuopt{
      text-decoration: none;
    color: white;
    cursor:pointer;
    background-size: contain;
}

.active, .headerscontents li:hover{
    background: #008B8B;
    border-radius: 10px;
    
}

.sub-menu-1{
    display: none;
}

.headerscontents div:hover .sub-menu-1{
    opacity: 0.84;
    display:flex;
    position:absolute;
    margin-top: 37px;
    margin-left: -15px;
    background: darkslategrey;
    align-content: flex-start;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }

.headerscontents div:hover .sub-menu-1 ul{
    list-style: none;
    display: block;
    padding: 2px;
    margin: 2px;
    margin-top: -10px;
}

.headerscontents div:hover .sub-menu-1 ul li{
    background: none;
    text-align: left;
    width: 150px;
    padding: 10px;
    border-bottom: 1px groove #fff;
    border-radius: 0;
}

.headerscontents div:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.sub-menu-1 li:hover{
    color: #008b8b;
    text-shadow: 0.08px 0.08px white;
}

.glow {
  font-size: 80px;
  color:black;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#thar{
    background-image:url("images/pexels-imad-clicks-9611952.jpg");
}

#thar:hover{
    background-image:url("images/pexels-imad-clicks-8337436.jpg"); 
}

#scorpio{
    background-image:url("images/mahindra-scorpio-9fed2d15-1024x768.jpg");
}

#scorpio:hover{
    background-image:url("images/mahindra-scorpio-449f6e2f-1024x768.jpg"); 
}

#fortuner{
    background-image:url("images/toyota-fortuner-33cf8491-1024x768.jfif");
}

#fortuner:hover{
    background-image:url("images/toyota-fortuner-1be63d2b-1024x768.jfif"); 
}

#alto{
    background-image:url("images/marutisuzuki-alto-800-a81a4685-1024x768.jpg");
}

#alto:hover{
    background-image:url("images/marutisuzuki-alto-800-e159eb27-1024x768.png"); 
}

#breeza{
    background-image:url("images/marutisuzuki-vitara-brezza-bdbe80fb-1024x768.jfif");
}

#breeza:hover{
    background-image:url("images/marutisuzuki-vitara-brezza-6a9053c6-1024x768.jfif"); 
}

#wagonr{
    background-image:url("images/marutisuzuki-wagon-r-0c134178-1024x768.jfif");
}

#wagonr:hover{
    background-image:url("images/marutisuzuki-wagon-r-783e7d10-1024x768.jfif"); 
}

#swift{
    background-image:url("images/marutisuzuki-swift-816d81ec-1024x768.jpg");
}


#swift:hover{
    background-image:url("images/marutisuzuki-swift-4f271a77-1024x768.jpg"); 
}

#nexon{
    background-image:url("images/tata-nexon-b185972c-1024x768.jpg");
}

#nexon:hover{
    background-image:url("images/tata-nexon-65ca9541-1024x768.jpg"); 
}

#nano{
    background-image:url("images/tata-nano-4537eb7-500x375.jpg");
}

#nano:hover{
    background-image:url("images/tata-nano-0cc0e5b-500x375.jpg"); 
}


#royalenfield{
    background-image:url("images/royal-enfield-classic-500-1464785917.png");
}

#royalenfield:hover{
    background-image:url("images/royal-enfield-standard-1464785189.jpg"); 
}

#ktm{
    background-image:url("images/2017-ktm-duke-250-2.jpg");
}

#ktm:hover{
    background-image:url("images/KTM-Duke-250-close.jpg"); 
}

#pulsarns{
    background-image:url("images/pulsar-ns.png");
}

#pulsarns:hover{
    background-image:url("images/bajaj-standard-1464785162.jpg"); 
}

#indian{
    background-image:url("images/2018-Indian-Chief-Classic2.jpg");
}

#indian:hover{
    background-image:url("images/indian-motorcycle-standard-1464785180.jpg"); 
}

#cbr{
    background-image:url("images/cbr.jpg");
}

#cbr:hover{
    background-image:url("images/cbr2.jpg"); 
}

#r1{
    background-image:url("images/r1.jpg");
}

#r1:hover{
    background-image:url("images/r1close.jpg"); 
}

#ntorq{
    background-image:url("images/TVS-NTORQ-125-SuperSquad-Edition-Spiderman-1200x1200.jpg");
}

#ntorq:hover{
    background-image:url("images/spidern.jpg"); 
}

#duet{
    background-image:url("images/Untitled-2_0000_Duet%20Pearl%20Silver%20White%203-4th%20Front.jpg");
}

#duet:hover{
    background-image:url("images/Untitled-2_0022_Duet%20White%20Creative%20S6.jpg"); 
}

#maestro{
    background-image:url("images/Untitled-2_0039_Maestro%20Edge%20BS4%20Matte%20Axis%20Grey%20&%20S%20Red%20Creative%20S08.jpg");
}

#maestro:hover{
    background-image:url("images/Untitled-2_0035_Maestro%20Edge%20BS4%20Matte%20Axis%20Grey%20&%20S%20Red%20LED%20Tail%20Lamp.jpg"); 
}

#fasino{
    background-image:url("images/yamaha-standard-1464785334.jpg");
}

#fasino:hover{
    background-image:url("images/yamaha-standard-1464785843.jpg"); 
}

#activa{
    background-image:url("images/5g.jpg");
}

#activa:hover{
    background-image:url("images/5g2.jpg"); 
}

#vespa{
    background-image:url("images/vespa-standard-1464785456.jpg");
}

#vespa:hover{
    background-image:url("images/vespa-standard-1464785206.jpg"); 
}
#auto{
    background-image:url("images/auto2.jpg");
}

#auto:hover{
    background-image:url("images/auto2.png"); 
}

#erick{
    background-image:url("images/erick1.jpg");
}

#erick:hover{
    background-image:url("images/erick2.jpg"); 
}

#cartaxi{
    background-image:url("images/NicePng_taxi-png_2350360.png");
}

#cartaxi:hover{
    background-image:url("images/nano-1.jpg"); 
}

.ambimg{
    transform: translate(-4px,0px);
    padding: 0px;
    background-size: cover;
    width: 1208px;
    height:750px;
    border-radius: 6%;
    background-size: cover;
    background-image:url("images/pexels-pavel-danilyuk-6754149.jpg");
}

#bikeimg{
    background-image:url("images/pexels-mansoor-980382.jpg");
}
#taximg{
    background-image:url("images/pexels-sangeet-rao-3037297.jpg");
}

#busimg{
    background-image:url("images/pexels-preston-zeller-15670.jpg");
}

.li{
    display: block;
    padding: 2px;
    margin: 2px;
    margin-top: -10px;
    height: 20px;
}



.carh3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-align: center;
    color: #b9dfff;
    color: #fff;
    font-family: "Zefani";
    font-family: 'Abril Fatface';
    text-shadow: 0 0 2.5px #fff,0 0 5px #fff,0 0 7.5px #fff,0 0 100px #228dff,0 0 17.5px #228dff,0 0 20px #228dff;
}

#sanitisedimg{
    background-image:url("images/san.png");
}

#maintainedimg{
    background-image:url("images/ma.png");
}

#insuredimg{
    background-image:url("images/ins.png");
}

.formsview{
    background-size: contain;
    text-align: center;
    width: 350px;
    height: 375px;
    margin: 15px;
    margin-left: 35%;
    padding: 15px;
    background-size: contain;
    backdrop-filter: blur(15px);
    border-radius: 10%;
}

::-webkit-scrollbar{
    width:1.5vw;
}

::-webkit-scrollbar-track{
    background: #dddddd;
}

::-webkit-scrollbar-thumb{
    background: #008B79;
}

::-webkit-scrollbar-thumb:hover{
    background: #008B8B;
}