.header1{
    background-color: darkslategrey;
    padding: 0px;
    padding-left: 10px;
    padding-right: 400px;
    height: 180px;
    border-bottom-style:groove;
    border-bottom-color: chocolate;
    transform: translate(0,-110px);
}

.InvisibleLink{
    text-decoration-line: none;
    color: black;
    cursor: pointer;
}


.optionh1{
       color: brown;
       text-align: center;
       margin-top: 100px;
}

h5{
    margin-top: 0px;
    margin-bottom: 0px;
    
}

h1,h2{
    text-align: center;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.gaadilelogo{
    position:relative;
    text-rendering: auto;
    background-color: burlywood;
    text-align:center;
    height:auto;
    width:165px;
    border-bottom-left-radius:40%;
    border-top-left-radius:60%;
    border-bottom-right-radius:50%;
    margin-right:0px;
    transform: translate(0,10px);
}

.wheel1{
    filter:blur(0.5px);
    -webkit-filter:blur(0.5px);
    background-color:black;
    height:20px;
    width:20px;
    border-radius:50%;
    margin-left:30px;
    transform:translate(0,4px);
}


.wheel2{
    background-color:black;
    height: 20px;
    width:20px;
    border-radius:50%;
    margin-left:90px;
    transform:translate(-4px,-0.8px);
}

.backimg{
    margin-top: -110px;
    padding: 0px;
    background-size: cover;
    background-image: url("images/pexels-hyundai-motor-group-11194510.jpg");
    height: 800px;
    width: 100%;
}


.optionstabs ul{
    list-style: none;
    display:inline-flex;
}

.optionstabs ul li{
    text-align: center;
    transform: translate(0,180px);
    width: 350px;
    height: 300px;
    margin: 15px;
    padding: 15px;
}

.buysection{
    backdrop-filter: blur(15px);
    border-radius: 10%;
}

.rentsection{
    backdrop-filter: blur(10px);
    border-radius: 10%;
}

.sellsection{
    backdrop-filter: blur(15px);
    border-radius: 10%;
}

.reservations{
    position: relative;
    height:auto;
    width: 165px;
    margin-left: 200px;
    text-align:left;
    transform:translate(0px,60px);
}

.headerscontents{
    margin-left: 120px;
    transform: translate(0,89px);
}
.headerscontents ul{
    text-align: center;
    display: inline-flex;
    list-style: none;
}

.headerscontents ul li{
     width: 120px;
    margin: 15px;
    padding: 15px;
}

.menuopt{
      text-decoration: none;
    color: white;
    cursor:pointer;
}

.active, .headerscontents ul li:hover{
    background: #008B8B;
    border-radius: 10px;
    
}

.sub-menu-1{
    display: none;
}

.headerscontents ul div:hover .sub-menu-1{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
    background: darkslategrey;
    transform: translate(0,15px);
    }

.headerscontents ul div:hover .sub-menu-1 ul{
    display: block;
    padding: 2px;
    margin: 2px;
    margin-top: -10px;
}

.headerscontents ul div:hover .sub-menu-1 ul li{
    background: none;
    text-align: left;
    width: 150px;
    padding: 10px;
    border-bottom: 1px groove #fff;
    border-radius: 0;
}

.headerscontents ul div:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.sub-menu-1 ul li:hover{
    color: #008b8b;
    text-shadow: 0.08px 0.08px white;
}